@import "~leaflet/dist/leaflet.css";
@import "leaflet";

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgb(14, 21, 30);
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #333;
}

